<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>
</head>

<body>
    <div class="jumbotron-full">
        <div class="jumbotron text-white bg-dark my-2">
            <h5 class="display-3 mt-2 mb-4">3Hunters FrontEnd.</h5>
            <hr class="my-4">
            <p class="lead text-white">3Hunters FrontEnd Web API, es creada por GMayaS C:\>Desarrollo en Sistemas.</p>
        </div>
    </div>
</body>