<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <%- include("tools/toolshead") %>
        <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include("tools/navbar") %>
        <div class="jumbotron-full text-white bg-dark">
            <div class="container-fuid row">
                <div class="col-lg-4"></div>
                <div class="jumbotron col-lg-4">
                    <div  id="alertOk" class="alert alert-dismissible alert-primary mb-2">
                        <strong>!Hola¡, excelente 🙂👍, procesando.<span id="spinnerSave" class="spinner-border spinner-border-sm ms-5"></span></strong> 
                    </div>
                    <div class="card border-light">
                        <div class="card-body">
                            <h3>Add User</h3>
                            <form id="formSave" action="/saveUser" method="POST">
                                <div class="form-group">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="text" class="form-control" id="age" name="age">
                                </div>
                                <div class="form-group">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" class="form-control" id="city" name="city">
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="saveButton" class="btn btn-primary mt-1 me-1"
                                        type="button">Save</button>
                                    <a id="clearButton" class="btn btn-secondary btn-link mt-1 me-1"
                                        href="/ejercicio02">Clear</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="alertReq" class="alert alert-dismissible alert-danger mt-2">
                        <strong>!Hola¡, Todos los campos son requeridos</strong> 
                   </div>    
                   <script>
                        document.getElementById("alertReq").style.visibility = "hidden";
                        document.getElementById("alertOk").style.visibility = "hidden";
                        document.getElementById("spinnerSave").style.visibility = "hidden";
                        document.getElementById('saveButton').onclick = function () {
                            let nameElement = document.getElementById("name").value;
                            let ageElement = document.getElementById("age").value;
                            let cityElement = document.getElementById("city").value;
                          if (Object.keys(nameElement).length === 0 || Object.keys(ageElement).length === 0 || Object.keys(cityElement).length === 0) {
                                document.getElementById("alertReq").style.visibility = "visible";
                                document.getElementById("alertOk").style.visibility = "hidden";
                                document.getElementById("spinnerSave").style.visibility = "hidden";
                            } else {
                                document.getElementById("alertReq").style.visibility = "hidden";
                                document.getElementById("alertOk").style.visibility = "visible";
                                document.getElementById("spinnerSave").style.visibility = "visible";
                                setTimeout(() => {
                                    location.href = '/ejercicio02';
                                }, 3000);
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
        <%- include("tools/footer") %>
</body>